<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="" href="./css/reset.css">
    <link rel="stylesheet" href="./lib/fontAwesome/css/font-awesome.css">
    <link rel="stylesheet" href="./lib/mui/css/mui.min.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="./css/sort.css">
    <link rel="stylesheet" href="./css/common.css">
    <title>Document</title>
</head>

<body>
    <!--头部-->
    <header class="mui-bar mui-bar-nav lt-header">
        <a class="fa fa-arrow-left mui-pull-left sort-icon" href="javascript:history.back();></a>
        <a id="search" class="fa fa-search mui-pull-right lt-header-search"></a>
        <h1 class="mui-title lt-header-title">
            <input type="" name="" value="">
        </h1>
    </header>
    <!--中间-->
    <div class="mui-content">
        <div class="main-left">
            <ul class="first-tempete">
                <li class="active">
                    <a href="javascript:;">运动馆</a>
                </li>
                <li>
                    <a href="javascript:;">男士馆</a>
                </li>
            </ul>
        </div>
        <section class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="main-right">
                    <ul class="two">
                        <li>
                            <a href="javascript:;">
                                <img src="./images/brand1.png" alt="">
                                <p>耐克</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="./images/brand2.png" alt="">
                                <p>阿迪</p>
                            </a>
                        </li>
                    </ul>
                    <div class="box"></div>
                </div>
            </div>
    </div>
    </div>


    <!--底部v-->
    <nav class="mui-bar mui-bar-tab lt-footer">
        <a class="mui-item " href="index.html">
            <span class="fa fa-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-item mui-active" href="sort.html">
            <span class="fa fa-bars"></span>
            <span class="mui-tab-label">分类</span>
        </a>
        <a class="mui-item" href="shopping.html">
            <span class="fa fa-shopping-cart"></span>
            <span class="mui-tab-label">购物车</span>
        </a>
        <a class="mui-item" href="center.html">
            <span class="fa fa-user"></span>
            <span class="mui-tab-label">会员中心</span>
        </a>
    </nav>
    <script type="text/template" id="first">
        <% for(var i= 0;i<rows.length;i++) { %>
            <% if(i==0){%>
                <li class="active">
                    <a href="javascript:;" data-id="<%=rows[i].id%>">
                        <%=rows[i].categoryName%>
                    </a>
                </li>
                <%} else {%>
                    <li>
                        <a href="javascript:;" data-id="<%=rows[i].id%>">
                            <%=rows[i].categoryName%>
                        </a>
                    </li>
                    <%   }%>
                        <%}%>
    </script>
    <script type="text/template" id="two">
        <% if(rows.length==0){%>
                <P>没有数据哦</p>
                <% } else {%>
        <% for(var i=0;i<rows.length;i++) {%>
                    <li>
                        <a href="javascript:;">
                            <img src="<%=rows[i].brandLogo%>" alt="">
                            <p><%=rows[i].brandName%></p>
                        </a>
                    </li>
                    <%}%>
                        <%}%>
    </script>
    <script src="./lib/zepto-notouch/zepto.min.js"></script>
    <script src="./lib/mui/js/mui.min.js"></script>
    <script src="./js/sort.js"></script>
    <script src="./lib/artTemplate/template-native.js"></script>

</body>

</html>